<a href="https://colab.research.google.com/github/FabioCarlesso/ds-study-codes/blob/main/Codes/pos/SPARK_PTI_FabioCarlesso.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Trabalho de Spark
* Curso: Pos Data Science Positivo
* Nome: Fabio Nami Carlesso

### Preparação

- instalação de pacotes
- puxar os dados

In [ ]:
# !mkdir /data
# !cd /data/
# !pwd

In [ ]:
#!wget http://ns1.xkx.fi/logs.txt
#!wget http://ns1.xkx.fi/registrosPlacas.txt

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
!java --version
!apt-get install openjdk-8-jdk-headless -qq

openjdk 11.0.11 2021-04-20
OpenJDK Runtime Environment (build 11.0.11+9-Ubuntu-0ubuntu2.18.04)
OpenJDK 64-Bit Server VM (build 11.0.11+9-Ubuntu-0ubuntu2.18.04, mixed mode, sharing)

In [ ]:
!wget -q https://archive.apache.org/dist/spark/spark-2.4.4/spark-2.4.4-bin-hadoop2.7.tgz

In [ ]:
!tar xf spark-2.4.4-bin-hadoop2.7.tgz

In [ ]:
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-2.4.4-bin-hadoop2.7"

In [ ]:
!pip install -q findspark

In [ ]:
import findspark
findspark.init("spark-2.4.4-bin-hadoop2.7")

In [ ]:
from pyspark.sql import SparkSession
from pyspark import SparkContext, SparkConf

conf = SparkConf().set('spark.ui.port','4050')
sc = SparkContext(conf=conf,appName="ExeApp")
#ss = SparkSession.builder.master('localhost[*]').getOrCreate()
ss = SparkSession.builder.master('local[*]').getOrCreate()
spark = ss

import re

## Exercício 2

- Objetivo: Identificar os logs em com erro
- Ler da pasta /content/drive/MyDrive/AulaSpark/Dados/E2/logs.txt
- Passar todas palavras para minúsculas
- Pegar apenas as linhas que **contém** a palavra “erro”
  - Dica: Utilize
    ```
    import re
    re.match(pattern, string)
    ```
- Contar as palavras
- Ordenar pelas palavras que mais se repetem
- Salvar os resultados
- Exibir os 20 primeiros erros que mais ocorrem

In [ ]:
# Ler da pasta /content/drive/MyDrive/AulaSpark/Dados/E2/logs.txt
logfile = "/content/drive/MyDrive/AulaSparkPTI/Dados/E2/logs.txt"
rddExe2 = sc.textFile(logfile)

In [ ]:
# Passar todas palavras para minúsculas
rddExe2Lower = rddExe2.map(lambda l: l.lower())

In [ ]:
# Pegar apenas as linhas que contém a palavra “erro”
rddExe2Erros = rddExe2Lower.filter(lambda l: re.findall(r"erro",l))

In [ ]:
# Contar as palavras
rddExe2ErrosContaPalavras = rddExe2Erros.map(lambda l: (l,1)).reduceByKey(lambda l,x: l+x)

In [ ]:
# Ordenar pelas palavras que mais se repetem
rddExe2ResultOrdenado = rddExe2ErrosContaPalavras.sortBy(lambda l: l[1], False)

In [ ]:
# Salvar os resultados
rddExe2Final = (rddExe2ResultOrdenado)
rddExe2Final.saveAsTextFile("/content/drive/MyDrive/AulaSparkPTI/Resultado/rddExe2")

In [ ]:
# Exibir os 20 primeiros erros que mais ocorrem
rddExe2Final.take(20)

[('informações\t07/03/2018 20:59:59\twindows error reporting\t1001\tnenhum\t"falha no bucket , tipo 0',
  12),
 ('informações\t07/03/2018 21:00:06\twindows error reporting\t1001\tnenhum\t"falha no bucket , tipo 0',
  7),
 ('informações\t07/03/2018 21:00:00\twindows error reporting\t1001\tnenhum\t"falha no bucket , tipo 0',
  6),
 ('aviso\t15/04/2018 21:14:25\tmicrosoft-windows-appmodel-state\t20\tnenhum\treparo disparado porque a operação localsettings com o pacote microsoft.windows.contentdeliverymanager_cw5n1h2txyewy encontrou o erro -2147009096.',
  4),
 ('erro\t15/04/2018 21:14:25\tmicrosoft-windows-appmodel-state\t10\tnenhum\tfalha ao carregar as configurações de aplicativo do pacote microsoft.windows.contentdeliverymanager_cw5n1h2txyewy. código de erro: -2147023446',
  4),
 ('nome do evento: skydriveclienterror', 4),
 ('informações\t23/04/2018 22:27:33\twindows error reporting\t1001\tnenhum\t"falha no bucket , tipo 0',
  4),
 ('informações\t05/03/2018 12:50:49\twindows error reporting\t1001\tnenhum\t"falha no bucket , tipo 0',
  4),
 ('informações\t22/04/2018 15:13:03\twindows error reporting\t1001\tnenhum\t"falha no bucket , tipo 0',
  2),
 ('informações\t04/04/2018 08:05:19\twindows error reporting\t1001\tnenhum\t"falha no bucket , tipo 0',
  2),
 ('informações\t07/03/2018 21:00:08\twindows error reporting\t1001\tnenhum\t"falha no bucket , tipo 0',
  2),
 ('informações\t05/03/2018 13:00:25\twindows error reporting\t1001\tnenhum\t"falha no bucket 127824537390, tipo 5',
  2),
 ('informações\t05/03/2018 12:50:48\twindows error reporting\t1001\tnenhum\t"falha no bucket , tipo 0',
  2),
 ('erro\t16/04/2018 21:50:51\tdptf\t256\tgeneral\tintel(r) dynamic platform and thermal framework : esif(8.1.10603.192) type: error',
  2),
 ('informações\t06/04/2018 09:24:04\twindows error reporting\t1001\tnenhum\t"falha no bucket , tipo 0',
  2),
 ('informações\t14/03/2018 21:01:43\twindows error reporting\t1001\tnenhum\t"falha no bucket , tipo 0',
  2),
 ('informações\t05/03/2018 13:13:59\twindows error reporting\t1001\tnenhum\t"falha no bucket , tipo 0',
  2),
 ('informações\t05/03/2018 13:00:23\twindows error reporting\t1001\tnenhum\t"falha no bucket , tipo 0',
  2),
 ('informações\t05/03/2018 12:52:34\twindows error reporting\t1001\tnenhum\t"falha no bucket , tipo 0',
  2),
 ('erro\t05/03/2018 12:36:20\tdptf\t256\tgeneral\tintel(r) dynamic platform and thermal framework : esif(8.1.10603.192) type: error',
  2)]

## Exercicio 2b

- Objetivo: Identificar os logs em com erro
- Ler da pasta /content/drive/MyDrive/AulaSpark/Dados/E2/logs.txt
- Passar todas palavras para minúsculas
- Pegar apenas as linhas que **iniciam** a palavra “erro”
  - Dica: Utilize
    ```
    import re
    re.match(pattern, string)
    ```
- Filtrar apenas os dígitos (não palavras)
- Contar
- Ordenar pelas palavras que mais se repetem
- Salvar os resultados
- Exibir os 20 primeiros erros que mais ocorrem

In [ ]:
# Ler da pasta /content/drive/MyDrive/AulaSpark/Dados/E2/logs.txt
logfile = "/content/drive/MyDrive/AulaSparkPTI/Dados/E2/logs.txt"
rddExe2b = sc.textFile(logfile)

In [ ]:
# Passar todas palavras para minúsculas
rddExe2bLower = rddExe2b.map(lambda l: l.lower())

In [ ]:
# Pegar apenas as linhas que iniciam a palavra “erro”
rddExe2bErros = rddExe2bLower.filter(lambda l: re.match(r"erro",l))

In [ ]:
# Filtrar apenas os dígitos (não palavras)
rddExe2bDigitos = rddExe2bErros.flatMap(lambda l: re.split('\D+', l))

In [ ]:
# Contar
rddExe2bContaPalavras = rddExe2bDigitos.map(lambda l: (l,1)).reduceByKey(lambda l,x: l+x)

In [ ]:
# Ordenar pelas palavras que mais se repetem
rddExe2bResultOrdenado = rddExe2bContaPalavras.sortBy(lambda l: l[1], False)

In [ ]:
# Salvar os resultados
rddExe2bFinal = (rddExe2bResultOrdenado)
rddExe2bFinal.saveAsTextFile("/content/drive/MyDrive/AulaSparkPTI/Resultado/rddExe2b")

In [ ]:
# Exibir os 20 primeiros erros que mais ocorrem
header = rddExe2bFinal.first()
rddExe2bFinal = rddExe2bFinal.filter(lambda line: line != header)
rddExe2bFinal.take(20)

[('2018', 159),
 ('04', 114),
 ('1', 99),
 ('8', 89),
 ('256', 88),
 ('10603', 88),
 ('192', 88),
 ('0', 85),
 ('03', 60),
 ('10', 58),
 ('21', 45),
 ('15', 45),
 ('16', 37),
 ('12', 34),
 ('14', 33),
 ('22', 31),
 ('1000', 30),
 ('20', 29),
 ('100', 28),
 ('11', 24)]

## Exercicio 3

-  Objetivo Identificar os veículos
- Utilizando as informações da Pasta Dados/E3/registrosPlacas.txt, levantar as
seguintes informações:
  - Preparar os dados
  - Identificar o veículo que tem mais registros
  - Identificar qual veículo teve a maior velocidade
  - Identificar qual veículo teve a maior velocidade média

In [ ]:
# Preparar os dados
logfile = "/content/drive/MyDrive/AulaSparkPTI/Dados/E3/registrosPlacas.txt"
rddExe3 = sc.textFile(logfile)

In [ ]:
# Identificar o veículo que tem mais registros
rddExe3Rep = rddExe3.map(lambda l: l.replace(' ','').replace('km/h',''))
rddExe3Split = rddExe3Rep.map(lambda l: l.replace('\t',',').split(','))
rddExe3Result = rddExe3Split.map(lambda l: (l[0], int(l[-1])))
rddExe3Result.map(lambda l: (l[0],1)).reduceByKey(lambda l,x: l+x).sortBy(lambda l: l, False).collect()

[('ZXH5193', 7000),
 ('ZCN1774', 7000),
 ('YRY3558', 7000),
 ('YRX1354', 7000),
 ('YEW7050', 7000),
 ('XNM0943', 7000),
 ('XLQ5165', 7000),
 ('XJR4324', 7000),
 ('XGC4049', 7000),
 ('XDB0846', 7000),
 ('WYL3175', 7000),
 ('WIZ0836', 7000),
 ('WGV7116', 7000),
 ('VUA2786', 7000),
 ('VQO2223', 7000),
 ('VQL5433', 7000),
 ('VPV4027', 7000),
 ('VBS4638', 7000),
 ('VAL5944', 7000),
 ('UJH3855', 7000),
 ('UFC2015', 7000),
 ('TVH3486', 7000),
 ('TIS9956', 7000),
 ('SCH5396', 7000),
 ('RZZ3714', 7000),
 ('RZW5936', 7000),
 ('RVO0854', 7000),
 ('RUH8971', 7000),
 ('RQO8737', 7000),
 ('RQI5894', 7000),
 ('RFR3882', 7000),
 ('RDN8228', 7000),
 ('QZQ0584', 7000),
 ('QEP6609', 7000),
 ('PXB5525', 7000),
 ('PTV2488', 7000),
 ('PTU2915', 7000),
 ('PRV0453', 7000),
 ('POU6819', 7000),
 ('PKT4014', 7000),
 ('PJG8910', 7000),
 ('PFH5551', 7000),
 ('PEW9887', 7000),
 ('PBB5517', 7000),
 ('OYU5969', 7000),
 ('OWB6337', 7000),
 ('OQQ6458', 7000),
 ('OFN8196', 7000),
 ('OCN0487', 7000),
 ('NVM7016', 7000),
 ('NQK5950', 7000),
 ('NHZ7539', 7000),
 ('NDH5121', 7000),
 ('MJG5107', 7000),
 ('MGO1072', 7000),
 ('LSG4437', 7000),
 ('LJF1109', 7000),
 ('LCM5812', 7000),
 ('KZH5426', 7000),
 ('KXU2333', 7000),
 ('KUmuarama4002', 7000),
 ('KLR9111', 7000),
 ('KFE0224', 7000),
 ('KES0414', 7000),
 ('JVE3255', 7000),
 ('JSQ9319', 7000),
 ('JCK4242', 7000),
 ('IXW8614', 7000),
 ('ITQ3207', 7000),
 ('IHD9565', 7000),
 ('IDY9933', 7000),
 ('HRT3510', 7000),
 ('HHS9741', 7000),
 ('HDH6968', 7000),
 ('GZH9344', 7000),
 ('GRN7794', 7000),
 ('GKK7588', 7000),
 ('FYO6485', 7000),
 ('FPD5664', 7000),
 ('FMS8593', 7000),
 ('FGU9701', 7000),
 ('FGC9355', 7000),
 ('EZR8533', 7000),
 ('EZB0648', 7000),
 ('EOJ4050', 7000),
 ('DXF3338', 7000),
 ('DWF3021', 7000),
 ('DTV4023', 7000),
 ('DRV0405', 7000),
 ('DKG9712', 7000),
 ('DHY4596', 7000),
 ('DHB4847', 7000),
 ('DCP1976', 7000),
 ('CVZ5774', 7000),
 ('CVV0439', 7000),
 ('BZT7406', 7000),
 ('BYO5817', 7000),
 ('BWD3055', 7000),
 ('BQX7899', 7000),
 ('AYC9263', 7000)]

In [ ]:
# Identificar qual veículo teve a maior velocidade
rddExe3Result.max(lambda l: l[1])

('GZH9344', 162)

In [ ]:
# Identificar qual veículo teve a maior velocidade média
# rddExe3Result.avg(lambda l: l[1])

aTuple = (0,0)
rddExe3ResultMed = rddExe3Result.aggregateByKey(aTuple, lambda a,b: (a[0]+b, a[1]+1), lambda a,b: (a[0]+b[0], a[1]+b[1]))
rddExe3Final = rddExe3ResultMed.map(lambda a: (a[0], int(a[1][0]/a[1][1])))
rddExe3Final.max(lambda l: l[1])

('EZB0648', 108)

## Trabalho

Com os arquivos contidos em /content/drive/MyDrive/AulaSparkPti/Dados/ETrabalho descritos abaixo:

* cities.csv
 - id
* lines.csv
 - city_id
* station_lines.csv
 - line_id
 - station_id
* station.csv
 - city_id

#### Responder:
* Qual país possui cidades?
* Qual cidade possui linhas?
* Quais são 10 linhas que passam por mais cidades?
* Qual é o país que tem mais linhas?
* A linha que tem mais estações em seu percurso?
* Quais são as 10 cidades que possuem as linhas com mais estações?
* Qual país são os mais presentes entre essas 10 cidades?
* O país que tem a maior média de estações?


### Desafio, crie um streaming que salve a quantidade de passageiros por linha por hora

O streaming deve simular a entrada `[passageiro linha_id]` via tcp
favor simular um socket. No linux temos o comando `nc -lk 9000` para esta finalidade

In [ ]:
from pyspark.sql import SQLContext
from pyspark.sql import functions as F
sqlc = SQLContext(sc)

In [ ]:
dfCities = sqlc.read.csv(path='/content/drive/MyDrive/AulaSparkPTI/Dados/ETrabalho/cities.csv',encoding="utf-8", header=True)
dfLines = sqlc.read.csv(path='/content/drive/MyDrive/AulaSparkPTI/Dados/ETrabalho/lines.csv',encoding="utf-8", header=True)
dfStationLines = sqlc.read.csv(path='/content/drive/MyDrive/AulaSparkPTI/Dados/ETrabalho/station_lines.csv',encoding="utf-8", header=True)
dfStation = sqlc.read.csv(path='/content/drive/MyDrive/AulaSparkPTI/Dados/ETrabalho/stations.csv',encoding="utf-8", header=True)

In [ ]:
dfCities.printSchema()
dfLines.printSchema()
dfStationLines.printSchema()
dfStation.printSchema()

root
 |-- id: string (nullable = true)
 |-- name: string (nullable = true)
 |-- coords: string (nullable = true)
 |-- start_year: string (nullable = true)
 |-- url_name: string (nullable = true)
 |-- country: string (nullable = true)
 |-- country_state: string (nullable = true)

root
 |-- id: string (nullable = true)
 |-- city_id: string (nullable = true)
 |-- name: string (nullable = true)
 |-- url_name: string (nullable = true)
 |-- color: string (nullable = true)
 |-- system_id: string (nullable = true)
 |-- transport_mode_id: string (nullable = true)

root
 |-- id: string (nullable = true)
 |-- station_id: string (nullable = true)
 |-- line_id: string (nullable = true)
 |-- city_id: string (nullable = true)
 |-- created_at: string (nullable = true)
 |-- updated_at: string (nullable = true)

root
 |-- id: string (nullable = true)
 |-- name: string (nullable = true)
 |-- geometry: string (nullable = true)
 |-- buildstart: string (nullable = true)
 |-- opening: string (nullable = true)
 |-- closure: string (nullable = true)
 |-- city_id: string (nullable = true)

In [ ]:
# Qual país possui cidades?
dfCities.select('country').distinct().show()

+-----------+
|    country|
+-----------+
|   Paraguay|
|     Russia|
|    Senegal|
|     Sweden|
|     Guyana|
|Philippines|
|   Djibouti|
|   Malaysia|
|  Singapore|
|     Turkey|
|    Germany|
|     France|
|     Greece|
|    Algeria|
|  Argentina|
|    Belgium|
|    Ecuador|
| Madagascar|
|    Finland|
|    Myanmar|
+-----------+
only showing top 20 rows

In [ ]:
dfCities.createOrReplaceTempView('cities')
dfLines.createOrReplaceTempView('lines')
dfStationLines.createOrReplaceTempView('station_lines')
dfStation.createOrReplaceTempView('stations')

# Qual cidade possui linhas?
sqlc.sql('select distinct(c.name) from cities c inner join lines l where c.id = l.city_id ').show()

+-----------+
|       name|
+-----------+
|   Winnipeg|
|       Lima|
|     Madrid|
|     Prague|
|     Ottawa|
|  Edinburgh|
|     Dallas|
|  Singapore|
|       Nice|
| Manchester|
|   Dzaoudzi|
|Montpellier|
|      Dijon|
|    Beijing|
|   Grenoble|
|     Lisbon|
|  Stockholm|
|    Glasgow|
|Los Angeles|
|     Angers|
+-----------+
only showing top 20 rows

In [ ]:
# Quais são 10 linhas que passam por mais cidades?
sqlc.sql('select l.name, count(distinct(c.name)) as cnt from cities c inner join lines l where c.id = l.city_id group by l.name order by cnt desc').show(10)

+--------+---+
|    name|cnt|
+--------+---+
|       A| 15|
|       B| 10|
|       1|  9|
|       C|  8|
|      T1|  8|
|       3|  7|
|      T2|  7|
|      M1|  7|
|Red Line|  7|
|       5|  6|
+--------+---+
only showing top 10 rows

In [ ]:
# Qual é o país que tem mais linhas?
sqlc.sql('select c.country, count(distinct(l.name)) as cnt from cities c inner join lines l where c.id = l.city_id group by c.country order by cnt desc').show(1)

+-------+---+
|country|cnt|
+-------+---+
|  Japan|343|
+-------+---+
only showing top 1 row

In [ ]:
# A linha que tem mais estações em seu percurso?
sqlc.sql('select l.name, count(distinct(s.station_id)) as cnt from lines l inner join station_lines s where l.id = s.line_id group by l.name order by cnt desc').show(1)

+----+---+
|name|cnt|
+----+---+
|   A|417|
+----+---+
only showing top 1 row

In [ ]:
# Quais são as 10 cidades que possuem as linhas com mais estações?
sqlc.sql('select c.name, count(distinct(s.station_id)) as cnt from lines l inner join station_lines s inner join cities c where l.city_id = c.id and l.id = s.line_id group by c.name order by cnt desc').show(10)

+------------+----+
|        name| cnt|
+------------+----+
|       Tokyo|3335|
|       Osaka|1278|
|    New York|1143|
|      London| 911|
|       Paris| 896|
|Buenos Aires| 683|
| Mexico City| 467|
|    Shanghai| 404|
|      Boston| 372|
|    Santiago| 340|
+------------+----+
only showing top 10 rows

In [ ]:
# Qual país são os mais presentes entre essas 10 cidades?
df = sqlc.sql('select c.country, c.name, count(distinct(s.station_id)) as cnt from lines l inner join station_lines s inner join cities c where l.city_id = c.id and l.id = s.line_id group by c.country, c.name order by cnt desc limit 10')
df.groupBy('country').agg(F.count('country')).show()

+-------------+--------------+
|      country|count(country)|
+-------------+--------------+
|        Japan|             2|
|United States|             2|
|      England|             1|
|       France|             1|
|    Argentina|             1|
|       Mexico|             1|
|        China|             1|
|        Chile|             1|
+-------------+--------------+

In [ ]:
# O país que tem a maior média de estações?
sqlc.sql('select c.country, avg(s.station_id) as mean from lines l inner join station_lines s inner join cities c where l.city_id = c.id and l.id = s.line_id group by c.country order by mean desc').show(1)

+-------+------------------+
|country|              mean|
+-------+------------------+
|Bolivia|16070.472222222223|
+-------+------------------+
only showing top 1 row